name: ValleyCore main build (arm64)

on:
  workflow_dispatch:

# make sure to update checksums.txt and dllstocopy.txt before updating this
# APPHOST_TARGET_ADDR is currently equivalent to 0x300b8, may change in future releases
env:
  DOTNET_MAJOR_VER: "6.0"
  DOTNET_VER: 6.0.32
  SKIASHARP_VER: 2.80.3
  LWJGL_VER: 3.3.4
  SMAPI_VER: 4.3.2
  APPHOST_TARGET_ADDR: 196792
  HOME_ABSOLUTE: /home/runner

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        path: repo

    - name: Initialize directories
      run: cd && mkdir dl vc publish && mv $GITHUB_WORKSPACE/repo/ ~

    - name: Download required files
      run: |
        cd ~/dl
        wget https://globalcdn.nuget.org/packages/microsoft.netcore.app.runtime.linux-arm64.$DOTNET_VER.nupkg https://globalcdn.nuget.org/packages/microsoft.netcore.app.host.linux-arm64.$DOTNET_VER.nupkg
        wget https://globalcdn.nuget.org/packages/skiasharp.nativeassets.linux.$SKIASHARP_VER.nupkg
        wget https://build.lwjgl.org/release/$LWJGL_VER/linux/arm64/liblwjgl_lz4.so
        wget https://github.com/Pathoschild/SMAPI/releases/download/$SMAPI_VER/SMAPI-$SMAPI_VER-installer.zip
    
    - name: Verify hashes
      run: | 
        cd ~/dl
        sha256sum -c ~/repo/checksums.txt

    - name: Copy runtime files, apphost & lwjgl_lz4
      run: | 
        unzip -j -d ~/vc/ ~/dl/microsoft.netcore.app.runtime.linux-arm64.$DOTNET_VER.nupkg runtimes/linux-arm64/native/*
        sed -E "s/^([0-9A-Za-z\.]+)/runtimes\/linux-arm64\/lib\/net$DOTNET_MAJOR_VER\/\1 /g" ~/repo/dllstocopy.txt | tr -d '\n' > ~/arglist.txt
        unzip -j -d ~/vc/ ~/dl/microsoft.netcore.app.runtime.linux-arm64.$DOTNET_VER.nupkg $(cat ~/arglist.txt)
        unzip -j -d ~/vc/ ~/dl/microsoft.netcore.app.host.linux-arm64.$DOTNET_VER.nupkg runtimes/linux-arm64/native/apphost
        unzip -j -d ~/vc/ ~/dl/skiasharp.nativeassets.linux.$SKIASHARP_VER.nupkg runtimes/linux-arm64/native/libSkiaSharp.so        
        cp ~/dl/liblwjgl_lz4.so ~/vc/
        chmod 664 ~/vc/*

    - name: Customize apphost
      run: | 
        cd ~/vc
        dd if="/dev/zero" of=apphost count=256 bs=1 seek=$APPHOST_TARGET_ADDR conv=notrunc
        printf "Stardew Valley.dll" | dd of=apphost bs=1 seek=$APPHOST_TARGET_ADDR conv=notrunc
        mv apphost "Stardew Valley" && chmod 775 "Stardew Valley"

    - name: Copy patch.sh and make it executable
      run: |
        cp ~/repo/patch.sh ~/vc/
        chmod 775 ~/vc/patch.sh

    - name: Copy SMAPI files
      run: |
        unzip -j -d ~/dl/ ~/dl/SMAPI-$SMAPI_VER-installer.zip "SMAPI $SMAPI_VER installer/internal/linux/install.dat"
        unzip -d ~/vc/ ~/dl/install.dat
        chmod 775 ~/vc/unix-launcher.sh
        cp ~/repo/smapi-wrapper.sh ~/vc/ && chmod 775 ~/vc/smapi-wrapper.sh
        
    - name: Customize apphost for SMAPI
      run: |
        cd ~/vc
        cp -p "Stardew Valley" StardewModdingAPI
        dd if="/dev/zero" of=StardewModdingAPI count=256 bs=1 seek=$APPHOST_TARGET_ADDR conv=notrunc
        printf "StardewModdingAPI.dll" | dd of=StardewModdingAPI bs=1 seek=$APPHOST_TARGET_ADDR conv=notrunc

    - name: Copy README and license information
      run: |
        cd ~/vc
        cp ~/repo/README.md VALLEYCORE_README.md
        cp ~/repo/BUNDLE_LICENSING.txt VALLEYCORE_LICENSING.txt

    - name: Bundle into ValleyCore.tar.gz
      run: |
        touch ~/vc/*
        tar -czf ~/publish/ValleyCore.tar.gz --owner=0 --group=0 --directory=$HOME_ABSOLUTE/vc/ .

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ValleyCore.tar.gz
        path: ${{ env.HOME_ABSOLUTE }}/publish/ValleyCore.tar.gz
        